<h1>Make your form here</h1>
<form action="/pirates" method="post">
  <label for="pirate name">Pirate Name</label><br>
  <input type="text" name="pirate[name]"><br>
  <label for="pirate weight">Pirate Weight</label><br>
  <input type="text" name="pirate[weight]"><br>
  <label for="pirate height">Pirate Height</label><br>
  <input type="text" name="pirate[height]"><br>
  <label for="ship name">Ship Name 1</label><br>
  <input type="text" name="pirate[ships][][ship_name_1]"><br>
  <label for="ship type">Ship Type 1</label><br>
  <input type="text" name="pirate[ships][][ship_type_1]"><br>
  <label for="booty">Booty 1</label><br>
  <input type="text" name="pirate[ships][][ship_booty_1booty]"><br>
  <label for="ship name">Ship Name 2</label><br>
  <input type="text" name="pirate[ships][][ship_name_2]"><br>
  <label for="ship type">Ship Type 2</label><br>
  <input type="text" name="pirate[ships][][ship_type_2]"><br>
  <label for="booty">Booty 2</label><br>
  <input type="text" name="pirate[ships][][ship_booty_2]"><br>
  <input type="submit">
</form>
